<%# _______________COVER ______________ %>
<div class="titlecover container cover d-flex justify-content-center align-items-center", id="home">
  <div class="row d-flex flex-column">
    <h1 class=" d-flex justify-content-center">Hi, I'm Filipa</h1>
    <p class="d-flex justify-content-center">A Web Developer.</p>
    <a href="#about" class="d-flex justify-content-center"><i class="fa-solid fa-arrow-down" id="scrollbutton"></i></a>
  </div>
</div>


  <%# __________________________ A BIT ABOUT ME _____________________________ %>


  <%# ABOUT ME SESSION %>


<div class="bio container">
  <div class="row d-flex justify-content-center">
    <div class="imagediv col-lg-4">
      <%= image_tag "aboutme.JPG", class: "imageabout"%>
    </div>
    <div class="textdiv col-lg-5 col-md-12">
      <h1 class="mb-0">BIO</h1>
      <h2 class="mb-0 ms-3">GRAPHY</h2>
      <h5 id="about">I stumbled upon web development during my teenage years and it was love at first code !</h5>
      <p id="about">My love affair started with customizing tumblr themes, and recently I finally made the move to enroll - and complete - a web development bootcamp. I love how it allows me to unleash my creativity, push the limits of my imagination, and bring my problem-solving skills to the next level.</p>
      <p id="about">Every day is a new adventure and I'm excited for what the future holds in this constantly evolving world of tech! </p>

      <%# <%= link_to "Work with me", "contacts#new", class: "contactme" %>
    </div>
  </div>
</div>










  <%# ______________ SKILSS ____________________ %>
  <div class="skillscontainer">
    <div class="row d-flex flex-column align-items-center justify-content-start my-5">
      <div class="col-lg-10 col-md-12">
        <h1 class="mb-0 ms-5">PROVIDED</h1>
        <h2 class="mb-0 ms-5">SERVICES</h2>
      </div>
    </div>



    <div id="skills" class="container d-flex my-5 justify-content-center mb-5">
      <div class="skillscard row justify-content-around">
        <div class="skillscard card text-center p-5 card-skills col-lg-3 col-md-12 my-3">
          <div>
            <%= image_tag "frontend.svg", class:"skills-image" %>
          </div>
          <h3 class="card-title mb-3"><strong>Front-end</strong></h5>
          <p class="card-text mb-3">From design to code, I create responsive and visually appealing websites. </p>
          <p class="programingLanguages"><strong>Bootstrap | CSS | SCSS | Javascript | HTML</strong></p>
        </div>

        <div class="skillscard card text-center p-5 card-skills col-lg-3 col-md-12 my-3">
          <div>
            <%= image_tag "backend.svg", class:"skills-image" %>
          </div>
          <h3 class="card-title mb-3"><strong>Back-end</strong></h5>
          <p class="card-text mb-3"> I'll help you build and mantain websites and web applications with powerful and reliable functionality.</p>
          <p class="programingLanguages"><strong>Ruby | Ruby on Rails | SQL-Postgresql </strong></p>
        </div>

        <div class="card text-center p-5 card-skills col-lg-3 col-md-12 my-3">
          <div>
            <%= image_tag "figma.svg", class:"skills-image" %>
          </div>
          <h3 class="card-title mb-3"><strong>Web Design</strong></h5>
          <p class="card-text mb-3">I'll design a website that meets your needs and goals and is easy to use for your visitors.</p>
          <p class="programingLanguages"><strong>Figma</strong></p>
        </div>
      </div>
    </div>
  </div>
  <%# _________ PORTFOLIO ______________ %>
  <div class="container my-5">
    <div class="row d-flex flex-column my-5">
      <div class="col-lg-10 col-md-12">
        <h1 id="portfolioexamples" class="d-flex justify-content-end mt-5">FEATURE</h1>
        <h2 id="portfolioexamples" class="d-flex justify-content-end">WORK</h2>
      </div>
    </div>

    <%# _____________________ EXTENDED AWAY_____________________ %>
    <div class="row" id="projects">
      <div class="card-product d-flex align-items-center m-a">
        <%= image_tag "extended_away1.png", class:"imagesportfolio" %>
        <div class="card-product-infos cardsportfolio">
          <h3 class="mb-5">Extended Away</h3>
          <p>Get ready for an epic adventure, because with our web app, you can travel the world with peace of mind! Our mission is to revolutionize the way homeowners connect with caretakers, making the process simple, fast, and effortless. Built on Rails 7 our web app offers a rich set of features that streamline the process and get things done quickly.</p>
          <p class="languages"><strong>Uses:</strong> RoR, Javascript, Bootstrap, CSS, HTML</p>
          <a class="btn btn-primary"  href="http://www.extendedaway.me/" role="button">View Project</a>
        </div>
      </div>
    </div>

    <%# _____________________ GoatScape_____________________ %>
    <div class="row">
      <div class="card-product d-flex align-items-center m-a">
        <div class="card-product-infos cardsportfolio">
          <h3 class="mb-5">GoatScape</h3>
          <p>A powerful platform built on Rails 7 to replicate the functionality of Airbnb. With this application you can create new bookings, filter and search for listings with ease.</p>
          <p class="languages"><strong>Uses:</strong> RoR, Javascript, Bootstrap, CSS, HTML</p>
          <a class="btn btn-primary"  href="http://www.extendedaway.me/" role="button">View Project</a>
        </div>
        <%= image_tag "Goatscape.png", class:"imagesportfolio" %>
      </div>
    </div>


    <%# _____________________ ADMIN VIRTUOSA_____________________ %>

    <div class="row">
      <div class="card-product d-flex align-items-center m-a">
        <%= image_tag "adminvirtuosa.png", class:"imagesportfolio" %>
        <div class="card-product-infos cardsportfolio">
          <h3 class="mb-5">Admin Virtuosa</h3>



<p>A straightforward and informative platform about Admin Virtuosa, designed to provide all the information you need on their virtual assistance services. The minimalist design emphasizes readability and easy navigation, making it simple to find the information you're looking for.</p>

          <%# <p>A website I built from scratch for a virtual assistant, before I enter the bootcamp.</p> %>
          <p class="languages"><strong>Uses: </strong>Bootstrap, CSS, HTML, Javascript</p>
          <a class="btn btn-primary"  href="https://www.adminvirtuosa.com/" role="button">View Project</a>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
